.book-card {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:stretch;


    background-color: aqua;
    gap: 1rem;
    border: 1px solid black;
}

.book-title, .book-author{
    padding-left: 3rem;

}